* {
  font-family:Sans-Serif;
}
body {
  margin:0 !important;
  padding:0 !important;
  background:#99dddd !important;
}
body {
  background:#99dddd !important;
}
#banner {
  width:100%;
  height:110px;
}
#topMenu {
  width:100%;
  height:2rem;
  padding:1rem;
  padding-left:0;
  padding-right:0;
}
#page {
  display:flex;
  height: calc(100% - 164px) ;
  flex-direction:columns;
}
#userPanel {
  width:24rem;
  padding:1rem;
}
.content {
  padding:1rem;
  flex-grow:1;
//  overflow:scroll;
}
#helpMenu {
  position:absolute;
  right:0.5rem;
  top:120px;
  display:inline-block;
  text-align:right !important;
}
#helpMenu button {
  cursor:pointer;
  background:transparent;
  color:white;
  font-size:150%;
  font-weight:bold;
  border:none;
}
#helpMenu a {
  width:20ch;
  display:block;
  padding:0.5rem;
  border:1px solid white;
  background:teal;
  color:white;
}

/* SET DATABROWSER BACKGROUND FOR ALL TABLES
   or for only the first level :  #outline > tr > td > table
   omitting !important has interesting effects.
*/
#outline table {
  background:#99dddd !important;
}

#notificationArea {
  width:50ch;
  margin:2rem;
}

.topBar, .topMenu, #userPanel {
  background:#008080 !important; // teal
}
body {
//overflow:auto;
}
.content {
overflow:auto;
}
#pluginArea {
//
}
#pluginArea > DIV > DIV {
//height:calc(100% - 699px ) !important;
}
#page {
//  display:grid;
//  grid-template-columns: 49ch auto;
//  height:77%;
//  width:100%;
}
#page.hidden {
//  grid-template-columns: auto;
}
#page.hidden .content {
//  display:block;
//  width:100vw !important;
}
#page.hidden #userPanel {
//  display:none;
}
.hidden {
  display:none;
}
/** BANNER
*/
.banner {
  display:grid;
  grid-template-columns:110px auto 110px;
}
.banner img {
  height:110px;
  width:110px;
}
.profileOwnerDescription {
  text-align:center;
  margin-right:1rem;
}
[data-uix=currentPage] {
  padding:0.75rem;
  padding-right:0;
  width: calc(100% - 0.75rem);
//  box-model:border-box;
  background:#004040;
  height:1.5rem;
  color: #99ffff !important;
}
.content {
//height:100%;
}

div[data-uix="solidLogin"] {
  position:absolute;
  left:3rem;
}
div[data-uix="userWebid"] {
  margin-top:0;
  display:table-cell;
  font-size:90%;
}
div[data-uix="solidLogin"] input {
  margin:0;
  color: white !important;
  padding:0.4rem !important;
  border-radius:0.2rem !important;
}
img[data-uix="solidLogo"] {
  height:100px;
  width:100px;
  margin-top:5px;
}
.banner h2 {
  padding:1rem;
  padding-bottom:0.5rem;
  margin:0;
}
div[data-uix="solidLogin"] input,
.profileOwnerMenu a, .profileOwnerMenu button, #userPanel a, #userPanel button  {
  border-radius:0.2rem;
  border:none;
  padding:0.4rem;
  text-decoration:none;
  margin-right:1rem;
  cursor:pointer;
  background: transparent !important;
  color: white; !important;
  font-size:100% !important;
  display:inline-block;
}

div[data-uix="solidLogin"] input:hover,
.profileOwnerMenu a:hover, .profileOwnerMenu button:hover,
.topMenu a:hover,
.banner a:hover, .banner button:hover,
#userPanel a:hover, #userPanel button:hover {
  background: white !important;
  color:teal !important;
}
.topMenu button, .topMenu a {
//  border:1px solid white;
}
.topMenu {
  text-align:center;
  padding:0.7rem;
  height:2rem;
}
#userMenuToggle {
  background:transparent !important;
  border:none;
  position:absolute;
  left:10px;
  display:inline-block;
  padding:0;
  margin-top:-0.5rem !important;
  color:white !important;
  font-size:240% !important;
  font-weight:bold;
  opacity:50%;
}
.content{
  text-align:left;
  margin-left:0;
}
#userPanel {
  width:47ch;
  min-width:47ch;
  width:24rem;
  min-width:24rem;
  padding:1rem;
  padding-top:0rem;
  overflow:auto;
}
[data-uix=quicknotes] {
  margin-top:0.25rem;
  margin-bottom:1rem;
}
#userPanel {
//  position:fixed;
}
#userPanel textarea {
  width:23rem;
}
#userPanel h3 {
/*
  border-radius:0.2rem;
  padding-top:0.5rem !important;  
  padding-bottom:0.5rem !important;  
  margin-bottom:0.25rem !important;  
*/
  border-radius:0.2rem;
  margin-top:1rem !important;
  font-weight:500 !important;
  background:#99dddd !important;
}
.editMenu{
  margin-bottom:1rem;
}
#userPanel ul {
//  width:40ch;
}
#userPanel textarea {
  margin:0 !important;
//  margin-top:1rem !important;
  background:#99dddd !important;
  height:6rem;
}
#userPanel a {
//  color:black !important;
//  border:1px solid black !important;
}
#userPanel ul {
  margin:0.25rem;
  margin-right:0;
  max-height:11rem;
  overflow-y:auto;
  overflow-x:hidden;
}
#userPanel li a{
  display:inline-block;
  width:95%;
  margin-right:0;
  padding-right:0;
}
